<aside id="fh5co-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides" >
      <li *ngFor="let apartment of top5Apartments"  [ngStyle]="{ 'background-image': 'url(' + apartment.imageList[0]+ ')'}">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 col-md-offset-4 col-md-pull-4 js-fullheight slider-text">
              <div class="slider-text-inner">
                <div class="desc">
                  <span class="status">{{apartment.name}}</span>
                  <h1>{{apartment.address}}</h1>
                  <h2 class="price">{{apartment.price}}$/đêm</h2>
                  <p>{{apartment.description}}</p>
                  <p class="details">
                    <span><mat-icon>star_border</mat-icon>{{apartment.bethRoom}} phòng ngủ</span>
                    <span>{{apartment.bathRoom}} phòng tắm</span>
<!--                    <span>{{apartment.utilities}}</span>-->
<!--                    <span>2 Garage</span>-->
                  </p>
                  <p><a class="btn btn-primary btn-lg" routerLink="apartments/'{{apartment.id}}'/detail">Xem chi tiết</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>
