<app-top-menu></app-top-menu>
<hr>
<div class="container-fluid">
  <div class="row">

<!--    menu tim kiem-->
    <div class="col-2" style="width: 300px">
      <div class="row"><h2>Tìm kiếm</h2></div>
      <div class="row">
        <form >
          <div class="form-group">
            <div class="input-group flex-nowrap">
              <span class="input-group-text"><mat-icon>house</mat-icon>Tỉnh/ Thành phố</span>
              <input type="text" class="form-control" aria-label="ApartmentName"/>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group flex-nowrap">
              <span class="input-group-text"><mat-icon>house</mat-icon>Số phòng ngủ</span>
              <input type="text" class="form-control" aria-label="ApartmentName"/>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group flex-nowrap">
              <span class="input-group-text"><mat-icon>house</mat-icon>Số phòng tắm</span>
              <input type="text" class="form-control" aria-label="ApartmentName"/>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group flex-nowrap">
              <span class="input-group-text"><mat-icon>house</mat-icon>Loại căn hộ</span>
              <select class="form-control" aria-label="ApartmentName">
                <option *ngFor="let type of apartmentType" value="{{type.id}}">{{type.name}}</option>
              </select>
            </div>
          </div>
          <h3>Khoảng giá</h3>
          <div class="mb-3 form-control">
            <select name="price" (change)="getPrice($event)">
              <option value="0">Dưới 20$</option>
              <option value="1">Từ 20-50$</option>
              <option value="2">Từ 50-100$</option>
              <option value="3">Trên 100$</option>
            </select>
          </div>
<!--          <div class="form-group">-->
<!--            <div class="input-group flex-nowrap">-->
<!--              <span class="input-group-text"><mat-icon>house</mat-icon>Từ</span>-->
<!--              <input type="text" class="form-control" aria-label="ApartmentName"/>-->
<!--              <span class="input-group-text"><mat-icon>house</mat-icon>Đến</span>-->
<!--              <input type="text" class="form-control" aria-label="ApartmentName"/>-->
<!--            </div>-->
<!--          </div>-->
          <button class="btn btn-primary" (click)="search()">Tìm kiếm</button>
        </form>
      </div>
    </div>

<!--    ket qua tim kiem-->
    <div class="col-10">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-md-3" *ngFor="let apartment of apartmentHouses">
              <div class="property">
                <a [routerLink]="['/apartments/', apartment.id,'/detail']" class="fh5co-property"
                   [ngStyle]="{ 'background-image': 'url(' + apartment.imageList[0]?.imageUrl + ')'}">
                  <span class="status">Newest</span>
                  <ul class="list-details">
                    <li>{{apartment.bethRoom}} Phòng ngủ</li>
                    <li>{{apartment.bathRoom}} Phòng tắm</li>
                  </ul>
                </a>
                <div class="property-details">
                  <a routerLink="/apartments/{{apartment.id}}/detail"><h3>{{apartment.name}}</h3></a>
                  <span class="price">${{apartment.price}}/đêm.</span>
                  <p>{{apartment.description}}</p>
                  <span class="address text-info text-capitalize"><i class="icon-map"></i>, {{apartment.city}}
                    , {{apartment.district}}, {{apartment.ward}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>









<!--    <input type="text" name="search" placeholder="Bạn cần tìm gì" (change)="getValue($event); search()">-->
<!--    <button>Tìm kiếm</button>-->
<!--    <h3>Tìm được {{apartments.length}} kết quả</h3>-->


<!--    <div class="row">-->
<!--      <div *ngFor="let apartment of apartments" class="col-md-3">-->
<!--        <a href="" class="">-->
<!--          <div class="card" style="width: 18rem;">-->
<!--            <img src="{{apartment.imageList[0]}}" class="card-img-top" alt="...">-->
<!--            <div class="card-body">-->
<!--              <h6 class="card-subtitle mb-2 text-muted">{{apartment.apartmentType.name}} - {{apartment.bethRoom}} phòng-->
<!--                ngủ</h6>-->
<!--              <h5 class="card-title">{{apartment.name}}</h5>-->
<!--              <p class="card-text">{{apartment.description}}</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </a>-->

<!--      </div>-->
<!--    </div>-->
  </div>
</div>
