
<input type="text" name="search" placeholder="Bạn cần tìm gì" (change)="getValue($event); search()"><button>Tìm kiếm</button>
<h3>Tìm được {{apartments.length}} kết quả</h3>

<div>
  <h4>Chọn theo tiêu chí</h4>
  <form>
    <div>
      <select name="price"  (change)="getPrice($event); search()">
        <option value="0">Dưới 500.000</option>
        <option value="1">500.000 - 1.000.000</option>
        <option value="2">1.000.000 - 2.000.000</option>
        <option value="3">Trên 2.000.000</option>
      </select>
    </div>
    <div>
      <p>Loại phòng</p>
      <select (change)="getypeID($event); search()">
        <option *ngFor="let type of apartmentTypes" value="{{type.id}}">{{type.name}}</option>
      </select>
    </div>
  </form>
</div>

<br>
<br>
<br>

<div class="container mt-5 mb-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-10">
      <div class="row p-2 bg-white border rounded" *ngFor="let apartment of apartments">
        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{apartment.imageList[0]}}"></div>
        <div class="col-md-6 mt-1">
          <h5>{{apartment.name}}</h5>
          <div class="d-flex flex-row">
            <div class="ratings mr-2"><span></span><i class="fa fa-star"></i>
          </div>
          <div class="mt-1 mb-1 spec-1"><span>{{apartment.apartmentType.name}}<br></span></div>
          <div class="mt-1 mb-1 spec-1"><span>{{apartment.bethRoom}} phòng ngủ<br></span></div>
          <p class="text-justify text-truncate para mb-0">{{apartment.description}}.<br><br></p>
        </div>
        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
          <div class="d-flex flex-row align-items-center">
            <h4 class="mr-1">{{apartment.price}}/ đêm</h4><!--<span class="strike-text">$20.99</span> -->
          </div>

          <div class="d-flex flex-column mt-4"><a routerLink="apartments/{{apartment.id}}/detail" class="btn btn-primary btn-sm">Chi tiết</a><a routerLink="apartments/{{apartment.id}}/detail/order" class="btn btn-outline-primary btn-sm mt-2" >Đặt vé</a></div>
        </div>
    </div>
  </div>
</div>
  </div>
</div>
