/*#left {*/
/*  background-color: yellow;*/
/*  width: 1000px;*/
/*  height: 500px;*/
/*}*/

ngb-carousel {
  width: 100%!important;
  height: 100%!important;
  background-size: 100% !important;
}

ngb-carousel .picsum-img-wrapper img {
  max-height: 600px!important;
  /*min-width: auto;*/
}
