<!--<div class="row">-->
<!--  <div class="col-md-3 animate-box">-->
<!--    <div class="property">-->
<!--      <a href="#" class="fh5co-property">-->
<!--        <span class="status">Sale</span>-->
<!--        <ul class="list-details">-->
<!--          <li>2000 ft sq<li>-->
<!--          <li>5 Bedroom:</li>-->
<!--          <li>4 Bathroom:</li>-->
<!--          <li>3 Garage:</li>-->
<!--        </ul>-->
<!--      </a>-->
<!--      <div class="property-details">-->
<!--        <h3>Properties Near in Beach</h3>-->
<!--        <span class="price">$3,000</span>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores.</p>-->
<!--        <span class="address"><i class="icon-map"></i>Thomas Street, St. Louis, MO 8990, USA</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
