.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  color: #150808;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(55, 158, 248);
  color: white;
}
.custom-day.faded {
  background-color: rgb(55, 158, 248);
}
.custom-day #disable {
  color: red;
}
ngb-datepicker {
  /*width: 550px;*/
}

input {
  border-color: black;
  background-color: rgba(203, 203, 203, 0.3);
}

.ngb-dp-day.disabled:hover [ngbDatepickerDayView].outside {
  /*background-color: lime !important;*/
  /*color: blue !important;*/
  /*opacity: 1 !important;*/
}
.custom-day.disabled:hover{
  background-color: gray !important;
  display: block!important;
}

.ngb-dp-day.disabled {
  /*background-color: gray !important;*/
  color: red!important;
  text-decoration-color: red;
}

