<div class="row">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="col-md-8">
    <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit()">
      <!--Check In
      <input type="date" placeholder="CheckIn" class="form-control" id="checkin" [(ngModel)]="booking.checkin" name="checkin" required>-->
      <hr>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label>Check In</label>
          <input type="date" class="form-control" name="checkin" [(ngModel)]="startDate" #checkin="ngModel"
                 [ngClass]="{ 'is-invalid': userForm.submitted && checkin.invalid }" required>
          <div *ngIf="userForm.submitted && checkin.invalid" class="invalid-feedback">
            <div *ngIf="checkin.errors.required">Empty Date field</div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label>Check Out</label>
          <input type="date" class="form-control" name="checkout" [(ngModel)]="endDate" #checkout="ngModel"
                 [ngClass]="{ 'is-invalid': userForm.submitted && checkout.invalid }" required>
          <div *ngIf="userForm.submitted && checkout.invalid" class="invalid-feedback">
            <div *ngIf="checkout.errors.required">Empty Date Field</div>
          </div>
        </div>
      </div>
      <hr>
      <br>
<!--      <div class="form-row">-->
<!--        <div class="col-md-6 mb-3">-->
<!--          <label>Guest</label>-->
<!--          <input type="number" class="form-control" name="numOfGuests" [(ngModel)]="booking.numOfGuests" #numOfGuests="ngModel"-->
<!--                 [ngClass]="{ 'is-invalid': userForm.submitted && numOfGuests.invalid }" pattern="[1-3]{1}"  required>-->
<!--          <div *ngIf="userForm.submitted && numOfGuests.invalid" class="invalid-feedback">-->
<!--            <div *ngIf="numOfGuests.errors.required">Required</div>-->
<!--            <div *ngIf="numOfGuests.errors.pattern">Not more than 3 Guests!</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <!--Guests
      <input type="number" placeholder="Enter the number of guests" class="form-control" id="numOfGuests" [(ngModel)]="booking.numOfGuests" name="numOfGuests" required> <hr><br>-->

      <button type="button" class="btn btn-info" (click)="cal()">Total Amount</button>
      &nbsp;&nbsp;&nbsp;{{totalPaid}}<br>
      <hr><br>

      <div class="row">
        <div class="col-md-4">
          <button type="submit" class="btn btn-success btn-block">Book</button>
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-danger btn-block" (click)="homePage()">Cancel Booking</button>
        </div>
      </div>
    </form>
  </div>
</div>
