@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  float: top!important;
}

#content {
  padding-left: 300px;
  /*position: relative;*/
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  /*left: 250px;*/
  width: 300px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #e8e7e7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #e8e7e7;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  border: white 1px solid;
}

#sidebar header a {
  color: #2a2a2a;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #212121;
  background-color: white;
}

#sidebar .nav{

}

#sidebar .nav a{
  background: none;
  /*border-bottom: 1px solid #e5e6e7;*/
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}

.container-fluid {
  padding-left: -50px;
}

.row {
  height: 60px;
}

