#user-component {
  /*position: fixed;*/
  margin-left: -20px;
}
.example-container {
  /*width: 400px;*/
  /*height: 200px;*/
  /*margin: 12px;*/
  /*border: 1px solid #555;*/
}

mat-drawer {
  width: 300px;
}

mat-drawer-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 1000px;
  position: relative;
}

#menuBtn {
  /*margin-left: -10px;*/
}
button {
  background-color: deepskyblue;
  color: white;
}
#menuBtn button:hover {
  color: deepskyblue;
  background-color: white;
}
