<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
      <a href="" class="pull-right">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="text-center">
        <img src="{{avatarUrl}}"  class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div><br>
      <div class="panel panel-default">
        <div class="panel-heading">Infomation <i class="fa fa-link fa-1x"></i></div>
        <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
      </div>
      <!--      <ul class="list-group">-->
      <!--        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>-->
      <!--        <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>-->
      <!--        <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>-->
      <!--        <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>-->
      <!--        <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>-->
      <!--      </ul>-->
      <div class="panel panel-default">
        <div class="panel-heading">Social Media</div>
        <div class="panel-body">
<!--          <i class="fa fa-facebook fa-2x">Facebook</i>-->
<!--          <i class="fa fa-github fa-2x">GitHub</i>-->
<!--          <i class="fa fa-twitter fa-2x">Tweeter</i>-->
<!--          <i class="fa fa-google-plus fa-2x">Google</i>-->
        </div>
      </div>
    </div>
    <div class="col-9">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#info">Thông tin các nhân</a></li>
        <li><a data-toggle="tab" href="#messages">Đổi mật khẩu</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="info">
          <hr>
            <form class="form-group" [formGroup]="userForm" (submit)="updateUser()">
              <div class="col">
                <label class="form-label" for="name">Họ tên</label>
                <input class="form" type="text" id="name" style="margin-left: 70px" formControlName="fullName">
              </div><br>
              <div class="col">
                <label class="form-label" for="phone">Điện thoại</label>
                <input class="form" type="text" id="phone" style="margin-left: 70px" formControlName="phone">
              </div><br>
              <div class="col">
                <label class="form-label" for="email">Email</label>
                <input class="form" type="email" id="email" style="margin-left: 70px" formControlName="email">
              </div><br>
              <div class="col">
                <label class="form-label" for="address1">Địa chị</label>
                <input class="form" type="text" id="address1" style="margin-left: 70px" formControlName="address">
              </div><br>
              <div class="col">
                <label class="form-label" for="city">Tỉnh/Thành Phố</label>
                <input class="form" type="text" id="city" style="margin-left: 70px" formControlName="city">
<!--                <select class="form-select" id="city" style="margin-left: 100px">-->
<!--                  <option>Tỉnh /Thành phố</option>-->
<!--                </select>-->
              </div><br>
              <input type="text" class="alert-info" formControlName="avatar"/>
              <button class="btn btn-primary">Lưu lại thông tin cá nhân</button>
            </form>
          <a class="alert-info">{{log}}</a>
          <hr>
        </div>
        <div class="tab-pane" id="messages">
          <h2>
            <form>
              <div class="col">
                <label class="form-label" for="oldPass">Mật khẩu cũ</label>
                <input class="form" type="text" id="oldPass" style="margin-left: 70px">
              </div><br>
              <div class="col">
                <label class="form-label" for="newPass">Mật khẩu mới</label>
                <input class="form" type="text" id="newPass" style="margin-left: 70px">
              </div><br>
              <div class="col">
                <label class="form-label" for="reNewPass">Nhập lại mật khẩu mới</label>
                <input class="form" type="text" id="reNewPass" style="margin-left: 70px">
              </div><br>
            </form>
          </h2>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
