<div class="row">
<div class="col-md-3" *ngFor="let apartment of apartmentHouses">
  <div class="property">
    <a [routerLink]="['/apartment-detail', apartment.id]" href="#" width="100%" height="220px" class="fh5co-property" *ngFor="let image of apartment.imageList" [ngStyle]="{ 'background-image': 'url(' + image.imageUrl + ')'}">
      <span class="status">Newest</span>
      <ul class="list-details">
        <li>{{apartment.bethRoom}}</li>
        <li>{{apartment.bathRoom}}</li>
        <li>{{apartment.address}}<li>
      </ul>
    </a>
    <div class="property-details">
      <a [routerLink]="['/apartment-detail', apartment.id]"><h3>{{apartment.name}}</h3></a>
      <span class="price">${{apartment.price}}</span>
      <p>{{apartment.description}}</p>
      <span class="address"><i class="icon-map"></i>{{apartment.address}}, {{apartment.city}}, {{apartment.district}}, {{apartment.ward}}</span>
    </div>
  </div>
</div>
</div>
<!--<div class="text-center mt-5">-->
<!--  <h1>Danh sách nhà cho thuê</h1>-->
<!--  &lt;!&ndash;  <a class="btn btn-primary" routerLink="/apartment/create">Tạo mới </a>&ndash;&gt;-->
<!--</div>-->
<!--<div class="row ml-2 mr-3">-->
<!--  <div class="col-sm-6 col-lg-4 col-xl-4 mt-4 house " style="padding-right: 0px;"-->
<!--       *ngFor="let apartment of apartmentHouses">-->
<!--    <div class="thumbnail">-->
<!--      <a [routerLink]="['/apartment/detail', apartment.id]">-->
<!--        <img *ngFor="let image of apartment.imageList" width="100%" height="220px" style="border-radius: 2px" src="{{image.imageUrl}}" class="imgProduct">-->
<!--      </a>-->
<!--      <div style="z-index: 2; position: inherit;">-->
<!--        <div class="productName m-3">-->
<!--          <a [routerLink]="['/apartment/detail', apartment.id]" style="color: #000000;"><h4>{{apartment.name}}</h4>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

