<div class="container-fluid">
  <br>
  <br>
  <br>
  <div class="row">
    <h1>Thêm mới nhà cho thuê</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <form>
        <div class="input-group flex-nowrap">
          <span class="input-group-text">Abc</span>
          <input type="text" class="form-control" placeholder="Apartment Name" aria-label="ApartmentName"
                   aria-describedby="addon-wrapping" />
        </div>
          <div class="input-group flex-nowrap mt-3">
            <span class="input-group-text">Abc</span>
            <select class="form-control">
              <option></option>
            </select>
            <input type="text" class="form-control" placeholder="Apartment Name" aria-label="ApartmentName"
                   aria-describedby="addon-wrapping" />
        </div>
      </form>
    </div>
  </div>
</div>

