.container-fluid {
  background-image: url("https://wallpaperaccess.com/full/1408411.jpg");
  background-size: 100%;
  height: 1000px;
  padding-left: -100px;
}
h1 {
  text-align:left;
  color: dodgerblue;
  font-weight: bolder;
}
table tr th {
  font-weight: bolder;
  opacity: 100%;
  width: 150px;
}
table tr td {
  width: 150px;
}
input {
  text-decoration-color: yellow;
}

textarea {
  resize: none;
  width: 100%;
  height: 300px;
}
