.container-fluid {
  /*background-image: url("https://wallpaperaccess.com/full/3569371.jpg");*/
  background-size: 100%!important;
  height: 900px!important;
  /*padding-left: -500px;*/
}
form {
  margin-top: -0px;
  width: 1500px;
  background-color: #cde0fa!important;
}

h1 {
  text-align:left!important;
  color: #007dfc !important;
  font-weight: bolder!important;
  text-decoration-line:underline;
}
table tr th {
  font-weight: bolder!important;
  opacity: 100%!important;
  width: 150px!important;
}
table tr td {
  width: 150px!important;
}
input {
  text-decoration-color: yellow!important;
}

textarea {
  resize: none!important;
  width: 100%!important;
  height: 300px!important;
}

.row {
  padding-left: 50px!important;
}

.input-group-text {
  background-color: rgb(55, 158, 248) !important;
  font-weight: inherit!important;
  color: white;
}
