<aside id="fh5co-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <li>
        <div class="overlay"></div>
        <div class="container-fluid float-left">
          <div class="row">
            <h1>Thêm mới nhà cho thuê</h1>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
              <div class="slider-text-inner">
                  <div class="col-8">
                    <form class="form-group">
                      <table class="table table-light">
                        <tr>
                          <th colspan="2">Tên căn nhà</th>
                          <td colspan="2"><input type="text" class="input-field form-control opacity-50"/></td>
                        </tr>
                        <tr>
                          <th colspan="2">Tỉnh/Thành Phố</th>
                          <td colspan="2"><select class="input-field form-control opacity-50">
                            <option></option>
                          </select></td>
                        </tr>
                        <tr>
                          <th colspan="2">Quận/Huyện</th>
                          <td colspan="2">
                            <select class="input-field form-control opacity-50">
                              <option></option>
                            </select></td>
                        </tr>
                        <tr>
                          <th colspan="2">Phường/Xã</th>
                          <td colspan="2">
                            <select class="input-field form-control opacity-50">
                              <option></option>
                            </select></td>
                        </tr>
                        <tr>
                          <th colspan="2">Địa chỉ</th>
                          <td colspan="2"><input type="text" class="input-field form-control opacity-50" /></td>
                        </tr>
                        <tr>
                          <th>Số phòng tắm</th>
                          <td>
                            <select class="input-field form-control opacity-50">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                            </select>
                          </td>
                          <th>Số phòng ngủ</th>
                          <td>
                            <select class="input-field form-control opacity-50">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                            </select></td>
                        </tr>
                        <tr>
                          <th colspan="2">Mô tả chi tiết</th>
                          <td colspan="2"><textarea class="form-control opacity-50" ></textarea></td>
                        </tr>
                        <tr>
                          <td colspan="4"><button class="btn btn-primary">Thêm ngay</button></td>
                        </tr>
                      </table>
                    </form>
                  </div>
                  <div class="col-4">
                  </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>
