<h1 class="text-xl-center">Yêu cầu thuê căn hộ của tôi</h1>

<p *ngIf="deletedOrder==true">
  <ngb-alert type="success" >Đã hủy yêu cầu thuê căn hộ thành công!!</ngb-alert>
</p>
<!--<p *ngIf="cancelAlert==true">-->
<!--  <ngb-alert type="warning" >Hủy yêu cầu thành công! Đã gửi thông báo đến khách hàng</ngb-alert>-->
<!--</p>-->


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="order-status">
      <th mat-header-cell *matHeaderCellDef> Trạng thái yêu cầu </th>
      <td mat-cell *matCellDef="let element"> {{element.orderStatus}} </td>
    </ng-container>

    <!-- Position Column -->
<!--    <ng-container matColumnDef="customer">-->
<!--      <th mat-header-cell *matHeaderCellDef> Tên khách hàng </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.userFullName}} </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="phone-numbers">-->
<!--      <th mat-header-cell *matHeaderCellDef> Số điện thoại </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.userPhoneNums}} </td>-->
<!--    </ng-container>-->

    <!-- Name Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Ngày nhận phòng </th>
      <td mat-cell *matCellDef="let element"> {{ngbDateToDate(element.startDate)| date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> Ngày trả phòng </th>
      <td mat-cell *matCellDef="let element"> {{ngbDateToDate(element.endDate)| date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="paid">
      <th mat-header-cell *matHeaderCellDef> Giá tạm tính </th>
      <td mat-cell *matCellDef="let element"> {{element.totalPaid | number:'1.0-0'}} </td>
    </ng-container>

    <ng-container matColumnDef="apartment">
      <th mat-header-cell *matHeaderCellDef> Tên căn hộ thuê </th>
      <td mat-cell *matCellDef="let element"> {{element.apartment.name}} </td>
    </ng-container>

    <ng-container matColumnDef="host">
      <th mat-header-cell *matHeaderCellDef> Tên chủ nhà </th>
      <td mat-cell *matCellDef="let element"> {{element.apartment.user.fullName}} </td>
    </ng-container>

    <ng-container matColumnDef="a-status">
      <th mat-header-cell *matHeaderCellDef> Tình trạng nhà </th>
      <td mat-cell *matCellDef="let element"> {{element.apartment.status}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="4">
      <th mat-header-cell *matHeaderCellDef> #1 </th>
      <td mat-cell *matCellDef="let element"><button class="btn btn-primary" (click)="deletePendingOrder(element.id)">Xóa yêu cầu </button></td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayOrderLabel"></tr>
    <tr mat-row *matRowDef="let row; columns: displayOrderLabel;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
