<div id="fh5co-wrapper">
  <div id="fh5co-page">

    <header id="fh5co-header-section" class="sticky-banner">
      <div class="container">
        <div class="nav-header">
          <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
          <h1 id="fh5co-logo"><a href="index.html"><i class="icon-home"></i>Lux<span>stay</span></a></h1>
          <!-- START #fh5co-menu-wrap -->
          <nav id="fh5co-menu-wrap" role="navigation">
            <ul class="sf-menu" id="fh5co-primary-menu">
              <li><a href="index.html">Trang chủ</a></li>
              <li>
                <a href="#" class="fh5co-sub-ddown">Chuyên mục</a>
                <ul class="fh5co-sub-menu">
                  <li><a href="#">Đang giảm giá</a></li>
                  <li><a href="#">Địa điểm hot </a></li>
                  <li><a href="#">Trải nghiệm tốt nhất</a></li>
                </ul>
              </li>
              <li><a href="#">Về chúng tôi</a></li>
              <li><a class="btn" data-toggle="modal" data-target="#SignInFormModal" (click)="open(SignInFormModal)">Trở thành chủ nhà</a></li>
              <li><button class="btn btn-outline-success" mat-icon-button (click)="open(SignInFormModal)"><mat-icon>account_circle</mat-icon></button></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <!-- end:header-top -->
  </div>
</div>


<ng-template #SignInFormModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Chào đằng ấy</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group mt-3">
        <label class="control-label" for="username">Tên đăng nhập</label>
        <div class="input-group">
          <button disabled class="btn btn-primary input-group-addon" style="padding-top: 10px">
            <mat-icon>keyvpn</mat-icon>
          </button>
          <input class="form-control input-field" id="username" name="username" type="text"/>
        </div>
      </div>
      <div class="form-group mt-3">
        <label class="control-label" for="password">Mật khẩu</label>
        <div class="input-group">
          <button disabled class="btn btn-primary input-group-addon" style="padding-top: 10px">
            <mat-icon>password</mat-icon>
          </button>
          <input class="form-control input-field" id="password" name="password" type="text"/>
        </div>
      </div>
        <div class="col-6 mt-3">
          <button class="btn btn-primary mt-3">Đăng nhập</button>
        </div>
        <div class="col-4 p-3">
          <!-- Simple link -->
          <a class="link-info" href="#">Quên mật khẩu?</a>
        </div>
      <div class="text-center">
        <p>hoặc đăng nhập với :</p>
        <button type="button" class="btn btn-primary btn-floating mx-1" disabled>
          <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1" disabled >
          <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1" disabled >
          <i class="fab fa-github"></i>
        </button>
      </div>
    </form>
    <div class="row mt-3">
      <span>Bạn chưa có tài khoản? <a class="link-success" (click)="modal.dismiss();open(SignUpFormModal)">Tham gia ngay với chúng tôi nhé
        <button disabled mat-icon-button><mat-icon>insert_emoticon</mat-icon></button>
      </a>
      </span>
    </div>

  </div>
<!--  <div class="modal-footer">-->
<!--    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Hủy</button>-->
<!--  </div>-->
</ng-template>

<ng-template #SignUpFormModal let-signUp>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title1">Đăng ký thành viên mới</h4>
    <button type="button" class="btn btn-close" aria-label="Close" (click)="signUp.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
<!--      username-->
      <div class="form-group">
        <label class="control-label" for="username1">Tên đăng nhập</label>
        <div class="input-group">
          <button disabled class="btn btn-primary input-group-addon" style="padding-top: 10px">
            <mat-icon>keyvpn</mat-icon>
          </button>
          <input class="form-control input-field" id="username1" name="username" type="text" required="required"/>
        </div>
      </div>
<!--      password-->
      <div class="form-group">
        <label class="control-label" for="password1">Mật khẩu</label>
        <div class="input-group">
          <button disabled class="btn btn-primary input-group-addon" style="padding-top: 10px">
            <mat-icon>password</mat-icon>
          </button>
          <input class="form-control input-field" id="password1" name="password" type="text"/>
        </div>
      </div>
<!--      re-password-->
      <div class="form-group">
        <label class="control-label" for="re-password">Nhập lại mật khẩu</label>
        <div class="input-group">
          <button disabled class="btn btn-primary input-group-addon" style="padding-top: 10px">
            <mat-icon>password</mat-icon>
          </button>
          <input class="form-control input-field" id="re-password" name="password" type="text"/>
        </div>
      </div>
<!--      phone-number-->
      <div class="form-group">
        <label class="control-label" for="phone">Số điện thoại</label>
        <div class="input-group">
          <button disabled class="btn btn-primary input-group-addon" style="padding-top: 10px">
            <mat-icon>password</mat-icon>
          </button>
          <input class="form-control input-field" id="phone" name="password" type="text"/>
        </div>
      </div>
      <div class="col-6 form-check d-flex justify-content-center mb-4 mt-4">
        <input
          class="form-check-input me-2"
          type="checkbox"
          value=""
          id="form5Example3"
          checked/>
        <label class="form-check-label" for="form5Example3">
          Tôi đồng ý với các điều khoản được đưa ra.
        </label>
      </div>
      <div class="col-2 mt-3">
        <button class="btn btn-primary mt-3">Đăng ký</button>
      </div>
    </form>
  </div>

  <!--  <div class="modal-footer">-->
  <!--    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Hủy</button>-->
  <!--  </div>-->
</ng-template>
