<!--top-menu-->
<div id="fh5co-wrapper">
  <div id="fh5co-page">
    <header id="fh5co-header-section" class="sticky-banner">
      <div class="container">
        <div class="nav-header">
          <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
          <h1 id="fh5co-logo"><a href="index.html"><i class="icon-home"></i>Lux<span>stay</span></a></h1>
          <!-- START #fh5co-menu-wrap -->
          <nav id="fh5co-menu-wrap" role="navigation">
            <ul class="sf-menu" id="fh5co-primary-menu">
              <li><a href="">Trang chủ</a></li>
              <li>
                <a href="#" class="fh5co-sub-ddown">Có gì mới</a>
                <ul class="fh5co-sub-menu">
                  <li><a href="#">Đang giảm giá</a></li>
                  <li><a href="#">Địa điểm hot </a></li>
                  <li><a href="#">Trải nghiệm tốt nhất</a></li>
                </ul>
              </li>
              <li><a class="fh5co-link" (click)="open(SignInFormModal)"  *ngIf="checkLogged()==false">Trở thành chủ nhà</a></li>
              <li><a class="fh5co-link" (click)="open(SignInFormModal)" *ngIf="checkLogged()==false">Đăng nhập</a></li>
              <li>
                <div class="btn-group" *ngIf="checkLogged()==true">
                  <a class="fh5co-sub-ddown dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">
                    Xin chào: {{this.tokenService.getName()}}
                  </a>
                  <ul class="dropdown-menu">
                    <li class="list-prop"><button class="dropdown-item" mat-icon-button> Thông báo</button></li>
                    <li class="list-prop"><a class="dropdown-item" routerLink="{{this.tokenService.getUserId()}}"> Trang cá nhân</a></li>
                    <li class="list-prop"><button class="dropdown-item" mat-icon-button> Danh sách yêu cầu</button></li>
                    <li class="list-prop"><button class="dropdown-item" mat-icon-button> Lịch sử</button></li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="list-prop"><button class="dropdown-item" mat-icon-button (click)="logout()">Đăng xuất</button></li>
                  </ul>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </div>
</div>


<!--signIn-->
<ng-template #SignInFormModal let-signIn>
  <div class="modal-body">
    <!-- Sing in  Form -->
<!--    <section class="sign-in">-->
      <div class="container">
        <div class="signin-content">
          <div class="signin-image">
            <figure><img src="assets/register/images/signin-image.jpg" alt="sing up image"></figure>
            <a class="signup-image-link" (click)="signIn.dismiss();open(SignUpFormModal)">Tạo tài khoản mới</a>
            <a class="signup-image-link mt-3">Quên mật khẩu</a>
          </div>
          <div class="signin-form">
            <h2 class="form-title">Đăng nhập</h2>
            <form id="login-form" class="form-login" (ngSubmit)="ngLogin()">
              <div class="form-group">
                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                <input type="text" name="your_name" id="your_name" placeholder="Tài khoản"
                       [(ngModel)]="form.username" #username="ngModel"/>
              </div>
              <div class="form-group">
                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                <input type="password" name="your_pass" id="your_pass" placeholder="Mật khẩu"
                       [(ngModel)]="form.password" #password="ngModel"/>
              </div>
<!--              <div class="form-group">-->
<!--                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />-->
<!--                <label for="remember-me" class="label-agree-term"><span><span></span></span>Ghi nhớ đăng nhập</label>-->
<!--              </div>-->
              <div class="form-group form-button">
                <input type="submit" name="signin" id="signin" class="form-submit" value="Đăng nhập"/>
              </div>
            </form>
            <div class="alert alert-warning mt-3" hidden>Tài khoản hoặc mật khẩu của bạn không đúng</div>


            <div class="social-login">
              <span class="social-label">Or login with</span>
              <ul class="socials">
                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
<!--    </section>-->

  </div>
</ng-template>

<!--register-->
<ng-template #SignUpFormModal let-signUp>
  <div>
    <div class="modal-body">
<!--      <section class="signup">-->
        <div class="container">
          <div class="signup-content">
            <div class="signup-form">
              <h2 class="form-title">Sign up</h2>
              <form class="register-form" id="register-form" (ngSubmit)="ngSubmit()">
                <div class="form-group">
                  <mat-error class="alert-warning" >{{status}}</mat-error>
                  <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                  <input type="text" name="username" id="username" placeholder="Tên đăng nhập"
                         [(ngModel)]="form.username" #username="ngModel" required minlength="3" maxlength="50"/>
                  <span class="alert-info" *ngIf="username.hasError('required')">Tên đăng nhập là bắt buộc</span>
                  <mat-error *ngIf="username.hasError('minlength')">Tên đăng nhập tối thiểu 3 kí tự</mat-error>
                </div>
                <div class="form-group">
                  <label for="phone"><i class="zmdi zmdi-email"></i></label>
                  <input type="text" id="phone" placeholder="Số điện thoại" name="phone"
                         [(ngModel)]="form.phone" #phone="ngModel" required minlength="10" maxlength="11"/>
                  <span class="alert-info" *ngIf="phone.hasError('required')">Vui lòng nhập số điện thoại</span>
                  <mat-error  *ngIf="phone.hasError('minlength')">Số điện thoại phải có tối thiểu 10 số! </mat-error>
                </div>
                <div class="form-group">
                  <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                  <input type="password" name="pass" id="pass" placeholder="Password"
                         [(ngModel)]="form.password" #password="ngModel" required minlength="6" maxlength="10" matInput [type]="hide ? 'password' : 'text'"/>
                  <span class="alert-info" *ngIf="password.hasError('required')">Mật khẩu là bắt buộc</span>
                  <mat-error *ngIf="password.hasError('minlength')">Mật khẩu phải có tối thiểu 6 kí tự</mat-error>
                </div>
                <div class="form-group">
                  <label for="confirm"><i class="zmdi zmdi-lock-outline"></i></label>
                  <input type="password" name="confirm" id="confirm" placeholder="Repeat your password"/>
                  <mat-error hidden></mat-error>
<!--                  <mat-error *ngIf="confirmPassword(password,rePass)!=true"> Mật khẩu nhập lại chưa đúng</mat-error>-->

                </div>
                <div class="form-group">
                  <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                  <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                </div>
                <div class="form-group form-button">
                  <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                </div>
              </form>
            </div>
            <div class="signup-image">
              <figure><img src="assets/register/images/signup-image.jpg" alt="sing up image"></figure>
              <a class="signup-image-link" (click)="signUp.dismiss();open(SignInFormModal)">Đã là thành viên</a>
            </div>
          </div>
        </div>
      <span class="alert-success">{{notice}}</span>
<!--      </section>-->
    </div>
  </div>
</ng-template>


