.btn .input-group-addon {
}
.input-group-addon{

}
.modal-fit .modal-dialog {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 10px;
}

.modal-fit .modal-body {
  max-height: calc(100vh - 200px);
  height: 200px;
  overflow: auto;
}


