<!--<div class="wrapper d-flex align-items-stretch">-->
  <nav id="sidebar">
    <div class="custom-menu">
    </div>
    <div class="p-4">
      <img src="assets/images/category/logo2.png" alt="logo2">
      <h1>
        <a class="logo">Người dùng
          <span>Khách hàng</span>
          <span>Người dùng 5 sao</span>
        </a>
      </h1>
      <ul class="list-unstyled components mb-5">
        <li>
          <a routerLink="profile" class="text-start">
            <span class="fa fa-home mr-2"></span>
            Thông tin cá nhân</a>
        </li>
        <li class="disabled">
          <a href="">
            <span class="fa fa-user mr-3"></span>
            Trở thành chủ nhà </a>
        </li>
        <li>
          <a routerLink="new-apartment">
            <span class="fa fa-briefcase mr-3"></span>
            Đăng ký cho thuê căn hộ</a>
        </li>
        <li>
          <a routerLink="for-rent">
            <span class="fa fa-sticky-note mr-3"></span>
            Quản lý căn hộ cho thuê</a>
        </li>
        <li>
          <a routerLink="orders">
            <span class="fa fa-suitcase mr-3"></span>
            Danh sách yêu cầu của tôi</a>
        </li>
        <li>
          <a href="#" class="disabled">
            <span class="fa fa-cogs mr-3"></span>
            Quản lý dịch vụ căn hộ</a>
        </li>
        <li>
          <a href="#" class="disabled">
            <span class="fa fa-cogs mr-3"></span>
            Tạo voucher/ Sự kiện</a>
        </li>
        <li>
          <a routerLink="histories" >
            <span class="fa fa-paper-plane mr-3"></span>
            Lịch sử đặt chỗ của tôi</a>
        </li>
        <li>
          <a routerLink="notifications">
            <span class="fa fa-paper-plane mr-3"></span>
            Thông báo</a>
        </li>
        <li>
          <a href="#">
            <span class="fa fa-paper-plane mr-3"></span>
            Danh sách căn hộ yêu thích</a>
        </li>
        <li class="disabled">
          <a href="#">
            <span class="fa fa-paper-plane mr-3"></span>
            Cài đặt khác</a>
        </li>
        <li>
          <a href="#">
            <span class="fa fa-paper-plane mr-3"></span>
            Đăng xuất</a>
        </li>
      </ul>
      <div class="" style="height: 95px">
        <h3 class="h6 mt-n3"> </h3>

        <form action="#" class="subscribe-form">
          <div class="form-group d-flex">
<!--            <div class="icon"><span class="icon-paper-plane"></span></div>-->
<!--            <input type="text" class="form-control" placeholder="Enter Email Address">-->
          </div>
        </form>
      </div>
    </div>
  </nav>
<!--</div>-->


